
@media screen and (max-width: 1440px) {
  
    html {
        font-size: 94.3%;
        overflow-x: hidden;
      }
  }

  @media screen and (max-width: 1440px) {
  
    html {
        font-size: 94.3%;
        overflow-x: hidden;
      }
  }
  



@media screen and (max-width: 1024px) {
  
    html {
        font-size: 71.11%;
    }
  }
  